<app-group-help code="print-special"></app-group-help>


<div class="table-operations">
    <form nz-form [formGroup]="validateForm">
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24">地图选择</nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <button nz-button>选择</button>
          </nz-form-control>
        </nz-form-item>
  
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">管线图层</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <app-select-pipeline-type></app-select-pipeline-type>
        </nz-form-control>
      </nz-form-item>
  
      <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24">选择类别</nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <nz-radio-group>
              <label nz-radio [nzValue]="'TYPE'">类型</label>
              <label nz-radio [nzValue]="'CLASSIFY'">分类</label>
            </nz-radio-group>
          </nz-form-control>
        </nz-form-item>
  
      <nz-form-item>
        <nz-form-control [nzSpan]="24" class="vCenter">
          <button nz-button nzType="primary">
            查询
          </button>
          <button nz-button>重置</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>
  