<div class="layout">
  <div class="layout-container">
    <div class="container" style="padding: 10px 0;">
      <div
        *ngIf="sub === 'dashboard'"
        class="container-silder"
        style="padding-left: 10px;"
      >
        <div class="layout">
          <div class="layout-container" style="padding-bottom: 10px;">
            <app-panel-card title="校园面积" width="470">
              <app-areas></app-areas>
            </app-panel-card>
          </div>
          <div class="layout-footer">
            <app-panel-card title="建筑数量" width="470">
              <app-buildings></app-buildings>
            </app-panel-card>
          </div>
        </div>
      </div>
      <div *ngIf="sub !== 'dashboard'" class="container-silder">
        <div class="layout">
          <div class="layout-container">
            <app-menu-sub></app-menu-sub>
          </div>
          <div class="layout-footer">
            <app-menu-quick></app-menu-quick>
          </div>
        </div>
      </div>
      <div
        *ngIf="sub !== 'dashboard'"
        [hidden]="type === '测量工具'"
        class="container-silder"
        style="padding-left: 10px; width: 340px;"
      >
        <app-panel [title]="type">
          <app-contents [sub]="sub" [type]="type"></app-contents>
        </app-panel>
      </div>
      <div class="container-wraper" style="padding: 0 10px;">
        <app-panel-box>
          <app-ark-map></app-ark-map>
          <p>sub:{{ sub }}</p>
          <p>type:{{ type }}</p>
        </app-panel-box
        >
      </div>
      <div
        *ngIf="sub === 'dashboard'"
        class="container-silder"
        style="padding-right: 10px;"
      >
        <app-panel-card type="RIGHT" title="建筑面积" width="470">
          <app-spaces></app-spaces>
        </app-panel-card>
      </div>
    </div>
  </div>
  <div
    *ngIf="sub === 'dashboard'"
    class="layout-footer"
    style="padding:0 10px 10px 10px;"
  >
    <div class="container">
      <div class="container-wraper" style="padding-right: 5px; height: 280px;">
        <app-panel-card title="管线长度统计">
          <app-pipeline></app-pipeline>
        </app-panel-card>
      </div>
      <div class="container-wraper" style="padding-left: 5px; height: 280px;">
        <app-panel-card title="能耗总量">
          <app-power></app-power>
        </app-panel-card>
      </div>
    </div>
  </div>
</div>
