<app-group-help code="house-information"></app-group-help>

<div class="table-operations">
    <form nz-form [formGroup]="validateForm">
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">房屋选择</nz-form-label>
        <nz-form-control [nzSm]="16" [nzXs]="24">
            <button nz-button>选择</button>
        </nz-form-control>
     </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="8" [nzXs]="24">楼层选择</nz-form-label>
        <nz-form-control [nzSm]="12" [nzXs]="24">
            <input nz-input placeholder="选择楼层" />
        </nz-form-control>
     </nz-form-item>
  
      <nz-form-item>
        <nz-form-control [nzSpan]="24" class="vCenter">
          <button nz-button nzType="primary">
            查询
          </button>
          <button nz-button>重置</button>
        </nz-form-control>
      </nz-form-item>
    </form>
  </div>

  <nz-divider nzText="查询结果" nzOrientation="left"></nz-divider>