<div class="card-item" style="margin-bottom: 8px;">
  总数量：<app-group-text text="142"></app-group-text> 栋
</div>
<div class="group-card">
  <ul>
    <li>
      <app-panel-box type="MINI">
        <div class="card-item">
          东校区：<span class="color color-1">42</span> 栋
        </div>
      </app-panel-box>
    </li>
    <li>
      <app-panel-box type="MINI">
        <div class="card-item">
          南校区：<span class="color color-2">42</span> 栋
        </div>
      </app-panel-box>
    </li>
    <li>
      <app-panel-box type="MINI">
        <div class="card-item">
          西校区：<span class="color color-3">42</span> 栋
        </div>
      </app-panel-box>
    </li>
    <li>
      <app-panel-box type="MINI">
        <div class="card-item">
          北校区：<span class="color color-4">42</span> 栋
        </div>
      </app-panel-box>
    </li>
  </ul>
</div>