.login-form {
  width: 400px;
  height: 480px;
  border-top: 3px solid #003a7a;
  position: absolute;
  left: 72%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: -webkit-linear-gradient(
    rgba($color: #034ea1, $alpha: 0.9),
    rgba($color: #7995c1, $alpha: 0.5),
    rgba($color: #fff, $alpha: 0.9)
  ); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(
    rgba($color: #034ea1, $alpha: 0.9),
    rgba($color: #7995c1, $alpha: 0.5),
    rgba($color: #fff, $alpha: 0.9)
  ); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(
    rgba($color: #034ea1, $alpha: 0.9),
    rgba($color: #7995c1, $alpha: 0.5),
    rgba($color: #fff, $alpha: 0.9)
  ); /* Firefox 3.6 - 15 */
  background: linear-gradient(
    rgba($color: #034ea1, $alpha: 0.9),
    rgba($color: #7995c1, $alpha: 0.5),
    rgba($color: #fff, $alpha: 0.9)
  ); /* 标准的语法 */
  h4{
      line-height: 48px;
      font-size: 18px;
      color: #fff;
      text-align: center;
  }
  form {
    width: 300px;
  }

  .ant-form-item{
    margin-bottom: 24px;
  }

  .ant-input{
    background-color: rgba($color: #fff, $alpha: .85);
    color: #000;
    &::-webkit-input-placeholder{
      color: gray;
    }
  }

  .login-form-forgot {
    float: right;
  }

  .login-form-button {
    width: 100%;
  }
}
