<nz-alert
  nzType="info"
  nzCloseable
  nzShowIcon
  nzMessage="Error Text"
  nzDescription="Error Description Error Description Error Description Error Description Error Description Error Description"
  (nzOnClose)="afterClose()"
>
</nz-alert>

<nz-tree
      [nzData]="nodes"
      nzCheckable
      nzMultiple
      [nzCheckedKeys]="defaultCheckedKeys"
      [nzExpandedKeys]="defaultExpandedKeys"
      [nzSelectedKeys]="defaultSelectedKeys"
      (nzClick)="nzEvent($event)"
      (nzExpandChange)="nzEvent($event)"
      (nzCheckBoxChange)="nzEvent($event)"
    >
    </nz-tree>
