.footer {
  display: flex;
  line-height: 32px;
  font-size: 12px;
  padding: 0 10px;
  background-color: #034ea1;
  .footer-l {
    .footer-copyrights {
      color: rgba($color: #fff, $alpha: 0.5);
    }
  }
  .footer-r {
  }
}

.footer-mini {
  line-height: 32px;
  font-size: 12px;
  background-image: url(../images/bg-cloud.png);
  padding-top: 32px;
  .footer-txt {
    width: 720px;
    height: 120px;
    margin: 32px auto;
    background-image: url(../images/bg-txt.png);
  }
  .footer-copyrights {
    text-align: center;
    color: rgba($color: #fff, $alpha: 0.5);
  }
}
