// -----------------------------------------
.menu {
  ul {
    display: flex;
    flex-direction: row;
    li {
      flex: 1;
      position: relative;
      // min-width: 84px;
      a {
        display: block;
        line-height: 20px;
        color: rgba($color: #fff, $alpha: 0.7);
        padding: 7px;
        i {
          display: block;
          margin: 0 auto;
          width: 36px;
          height: 36px;
          line-height: 36px;
          font-size: 24px;
          text-align: center;
          background-position: center center;
          background-repeat: no-repeat;
        }
        span {
          display: block;
          text-align: center;
          white-space: nowrap;
          overflow: hidden;
        }
      }
      &.selected {
        a {
          color: #00ffff;
        }
      }
      &:hover,
      &.selected {
        &::after {
          content: "";
          display: block;
          height: 5px;
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          background-image: url(../images/menu-line.png);
          background-size: cover;
        }
      }
    }
  }
}

// -----------------------------------------
.menu-sub {
  ul {
    li {
      display: block;
      position: relative;
      width: 70px;
      height: 100px;
      background-image: url(../images/bg-menu-sub.png);
      margin-bottom: -20px;
      a {
        display: block;
        line-height: 1em;
        color: rgba($color: #fff, $alpha: 0.7);
        padding: 7px;
        padding-top: 14px;
        i {
          display: block;
          margin: 0 auto;
          width: 36px;
          height: 36px;
          line-height: 36px;
          font-size: 24px;
          text-align: center;
          background-position: center center;
          background-repeat: no-repeat;
        }
        span {
          display: block;
          text-align: center;
          font-size: 12px;
        }
      }
      &:hover,
      &.selected {
        background-image: url(../images/bg-menu-sub-selected.png);
      }
      &.selected {
        a {
          color: #00ffff;
        }
      }
    }
  }
}

// -----------------------------------------
.menu-control {
  text-align: right;
  ul {
    li {
      display: inline-block;
      position: relative;
      margin: 15px 19px;
      width: 40px;
      height: 40px;
      border-radius: 100% 100%;
      background-color: rgba($color: #fff, $alpha: 0.3);
      a {
        display: block;
        line-height: 1em;
        color: rgba($color: #fff, $alpha: 0.7);
        padding: 8px;
        i {
          display: block;
          margin: 0 auto;
          width: 24px;
          height: 24px;
          line-height: 24px;
          font-size: 22px;
          text-align: center;
        }
        span {
          display: block;
          text-align: center;
          font-size: 12px;
          display: none;
        }
      }
      &:hover,
      &.selected {
        background-color: rgba($color: #00ffff, $alpha: 0.3);
      }
      &.selected {
        a {
          color: #00ffff;
        }
      }
      &.selected {
      }
    }
  }
}

// -----------------------------------------
.menu-quick {
  ul {
    li {
      display: block;
      position: relative;
      width: 56px;
      height: 56px;
      border: 2px solid #018ec1;
      border-radius: 100% 100%;
      margin-left: 12px;
      margin-top: 10px;
      a {
        display: block;
        line-height: 1em;
        color: rgba($color: #fff, $alpha: 0.7);
        padding: 4px;
        i {
          display: block;
          margin: 0 auto;
          width: 34px;
          height: 28px;
          line-height: 28px;
          font-size: 22px;
          text-align: center;
        }
        span {
          display: block;
          text-align: center;
          font-size: 12px;
        }
      }
      &:hover,
      &.selected {
        a {
          color: #00ffff;
        }
      }
      &.selected {
        border-color: #00ffff;
      }
    }
  }
}


// -----------------------------------------
.icon-menu-layer{
  background-image: url(../images/icons/layer.png);
  &.selected {
    background-image: url(../images/icons/layer2.png);
  }
}
.icon-menu-layer-vector{
  background-image: url(../images/icons/layer-vector.png);
  &.selected {
    background-image: url(../images/icons/layer-vector2.png);
  }
}
.icon-menu-layer-module{
  background-image: url(../images/icons/layer-module.png);
  &.selected {
    background-image: url(../images/icons/layer-module2.png);
  }
}
.icon-menu-layer-vadio{
  background-image: url(../images/icons/layer-vadio.png);
  &.selected {
    background-image: url(../images/icons/layer-vadio2.png);
  }
}
.icon-menu-layer-pipeline{
  background-image: url(../images/icons/layer-pipeline.png);
  &.selected {
    background-image: url(../images/icons/layer-pipeline2.png);
  }
}
.icon-menu-layer-image{
  background-image: url(../images/icons/layer-image.png);
  &.selected {
    background-image: url(../images/icons/layer-image2.png);
  }
}
// -------------------
.icon-menu-control{
  background-image: url(../images/icons/control.png);
  &.selected {
    background-image: url(../images/icons/control2.png);
  }
}
.icon-menu-control-measure{
  background-image: url(../images/icons/control-measure.png);
  &.selected {
    background-image: url(../images/icons/control-measure2.png);
  }
}
.icon-menu-control-tagging{
  background-image: url(../images/icons/control-tagging.png);
  &.selected {
    background-image: url(../images/icons/control-tagging2.png);
  }
}
.icon-menu-control-location{
  background-image: url(../images/icons/control-location.png);
  &.selected {
    background-image: url(../images/icons/control-location2.png);
  }
}
// -------------------
.icon-menu-pipeline{
  background-image: url(../images/icons/pipeline.png);
  &.selected {
    background-image: url(../images/icons/pipeline2.png);
  }
}
.icon-menu-pipeline-click{
  background-image: url(../images/icons/pipeline-click.png);
  &.selected {
    background-image: url(../images/icons/pipeline-click2.png);
  }
}
.icon-menu-pipeline-size{
  background-image: url(../images/icons/pipeline-size.png);
  &.selected {
    background-image: url(../images/icons/pipeline-size2.png);
  }
}
.icon-menu-pipeline-material{
  background-image: url(../images/icons/pipeline-material.png);
  &.selected {
    background-image: url(../images/icons/pipeline-material2.png);
  }
}
.icon-menu-pipeline-appendages{
  background-image: url(../images/icons/pipeline-appendages.png);
  &.selected {
    background-image: url(../images/icons/pipeline-appendages2.png);
  }
}
.icon-menu-pipeline-combination{
  background-image: url(../images/icons/pipeline-combination.png);
  &.selected {
    background-image: url(../images/icons/pipeline-combination2.png);
  }
}
.icon-menu-pipeline-point{
  background-image: url(../images/icons/pipeline-point.png);
  &.selected {
    background-image: url(../images/icons/pipeline-point2.png);
  }
}
.icon-menu-pipeline-power{
  background-image: url(../images/icons/pipeline-power.png);
  &.selected {
    background-image: url(../images/icons/pipeline-power2.png);
  }
}
.icon-menu-pipeline-space{
  background-image: url(../images/icons/pipeline-space.png);
  &.selected {
    background-image: url(../images/icons/pipeline-space2.png);
  }
}
.icon-menu-pipeline-modify{
  background-image: url(../images/icons/pipeline-modify.png);
  &.selected {
    background-image: url(../images/icons/pipeline-modify2.png);
  }
}
.icon-menu-pipeline-history{
  background-image: url(../images/icons/pipeline-modify.png);
  &.selected {
    background-image: url(../images/icons/pipeline-modify2.png);
  }
}
.icon-menu-pipeline-patrol{
  background-image: url(../images/icons/pipeline-patrol.png);
  &.selected {
    background-image: url(../images/icons/pipeline-patrol2.png);
  }
}
// -------------------
.icon-menu-statistics{
  background-image: url(../images/icons/statistics.png);
  &.selected {
    background-image: url(../images/icons/statistics2.png);
  }
}
.icon-menu-statistics-classify{
  background-image: url(../images/icons/statistics-classify.png);
  &.selected {
    background-image: url(../images/icons/statistics-classify2.png);
  }
}
.icon-menu-statistics-breaking{
  background-image: url(../images/icons/statistics-breaking.png);
  &.selected {
    background-image: url(../images/icons/statistics-breaking2.png);
  }
}
.icon-menu-statistics-appendages{
  background-image: url(../images/icons/statistics-appendages.png);
  &.selected {
    background-image: url(../images/icons/statistics-appendages2.png);
  }
}
.icon-menu-statistics-length{
  background-image: url(../images/icons/statistics-length.png);
  &.selected {
    background-image: url(../images/icons/statistics-length2.png);
  }
}
.icon-menu-statistics-number{
  background-image: url(../images/icons/statistics-number.png);
  &.selected {
    background-image: url(../images/icons/statistics-number2.png);
  }
}
.icon-menu-statistics-repair{
  background-image: url(../images/icons/statistics-repair.png);
  &.selected {
    background-image: url(../images/icons/statistics-repair2.png);
  }
}
// -------------------
.icon-menu-analysis{
  background-image: url(../images/icons/analysis.png);
  &.selected {
    background-image: url(../images/icons/analysis2.png);
  }
}
.icon-menu-analysis-cross{
  background-image: url(../images/icons/analysis-cross.png);
  &.selected {
    background-image: url(../images/icons/analysis-cross2.png);
  }
}
.icon-menu-analysis-connected{
  background-image: url(../images/icons/analysis-connected.png);
  &.selected {
    background-image: url(../images/icons/analysis-connected2.png);
  }
}
.icon-menu-analysis-excavation{
  background-image: url(../images/icons/analysis-excavation.png);
  &.selected {
    background-image: url(../images/icons/analysis-excavation2.png);
  }
}
.icon-menu-analysis-healthy{
  background-image: url(../images/icons/analysis-healthy.png);
  &.selected {
    background-image: url(../images/icons/analysis-healthy2.png);
  }
}
.icon-menu-analysis-horizontal{
  background-image: url(../images/icons/analysis-horizontal.png);
  &.selected {
    background-image: url(../images/icons/analysis-horizontal2.png);
  }
}
.icon-menu-analysis-tube{
  background-image: url(../images/icons/analysis-tube.png);
  &.selected {
    background-image: url(../images/icons/analysis-tube2.png);
  }
}
.icon-menu-analysis-vertical{
  background-image: url(../images/icons/analysis-vertical.png);
  &.selected {
    background-image: url(../images/icons/analysis-vertical2.png);
  }
}
// -------------------
.icon-menu-house{
  background-image: url(../images/icons/house.png);
  &.selected {
    background-image: url(../images/icons/house2.png);
  }
}
.icon-menu-house-attrib{
  background-image: url(../images/icons/house-attrib.png);
  &.selected {
    background-image: url(../images/icons/house-attrib2.png);
  }
}
.icon-menu-house-information{
  background-image: url(../images/icons/house-information.png);
  &.selected {
    background-image: url(../images/icons/house-information2.png);
  }
}
.icon-menu-house-modify{
  background-image: url(../images/icons/house-modify.png);
  &.selected {
    background-image: url(../images/icons/house-modify2.png);
  }
}
// -------------------
.icon-menu-energy{
  background-image: url(../images/icons/energy.png);
  &.selected {
    background-image: url(../images/icons/energy2.png);
  }
}
.icon-menu-energy-monitoring{
  background-image: url(../images/icons/energy-monitoring.png);
  &.selected {
    background-image: url(../images/icons/energy-monitoring2.png);
  }
}
.icon-menu-energy-map{
  background-image: url(../images/icons/energy-map.png);
  &.selected {
    background-image: url(../images/icons/energy-map2.png);
  }
}
// -------------------
.icon-menu-print{
  background-image: url(../images/icons/print.png);
  &.selected {
    background-image: url(../images/icons/print2.png);
  }
}
.icon-menu-print-special{
  background-image: url(../images/icons/print-special.png);
  &.selected {
    background-image: url(../images/icons/print-special2.png);
  }
}
// -------------------
.icon-menu-system{
  background-image: url(../images/icons/system.png);
  &.selected {
    background-image: url(../images/icons/system2.png);
  }
}
.icon-menu-system-mechanism{
  background-image: url(../images/icons/system-mechanism.png);
  &.selected {
    background-image: url(../images/icons/system-mechanism2.png);
  }
}
.icon-menu-system-authority{
  background-image: url(../images/icons/system-authority.png);
  &.selected {
    background-image: url(../images/icons/system-authority2.png);
  }
}
.icon-menu-system-log{
  background-image: url(../images/icons/system-log.png);
  &.selected {
    background-image: url(../images/icons/system-log2.png);
  }
}
