body{
    background-color: #000;
}

ul,li{
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.vCenter{
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}