.chart-point {
  overflow: hidden;
  ul {
    display: block;
    position: relative;
    margin-right: 32px;
    margin-bottom: 24px;
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      content: "";
      position: absolute;
      top: -1px;
      left: 8.315em;
      bottom: 0;
      border-left: 1px solid rgba($color: #fff, $alpha: 0.5);
    }
    &::after {
      position: absolute;
      top: -1px;
      left: 100%;
      bottom: 0;
      text-align: center;
      writing-mode: vertical-lr; /*从左向右 从右向左是 writing-mode: vertical-rl;*/
      writing-mode: tb-lr; /*IE浏览器的从左向右 从右向左是 writing-mode: tb-rl；*/
      content: attr(title);
      border-left: 4px solid #00ffff;
      line-height: 32px;
    }
    li {
      display: block;
      padding: 0.315em 0;
      .chart-point-item {
        display: flex;
        flex-direction: row;
        .chart-point-item-label {
          flex: none;
          width: 8em;
          text-align: right;
        }
        .chart-point-item-progress {
          flex: 1;
          margin-left: 10px;
          padding-right: 3.5em;
          .chart-point-item-progress-bar {
            display: inline-block;
            height: 100%;
            position: relative;
            // background-color: rgba($color: #fff, $alpha: 0.1);
            &::after {
              position: absolute;
              margin-left: 5px;
              left: 100%;
              top: 0;
              content: attr(title);
            }
            span {
              position: absolute;
              display: block;
              height: 100%;
              white-space: break-all;
              overflow: hidden;
              background: linear-gradient(to right, #58a429, #e0ff47);
              -webkit-background-clip: text;
              color: transparent;
            }
          }
        }
      }
    }
  }
}
