<div class="chart-point">
  <ul *ngFor="let data of dataset" [title]="data.label">
    <li *ngFor="let item of data.data">
      <div class="chart-point-item">
        <div class="chart-point-item-label">
          {{ item.label }}
        </div>
        <div class="chart-point-item-progress">
          <div
            class="chart-point-item-progress-bar"
            [title]="item.value"
            [style.width]="prece(data.data, item.value) * 100 + '%'"
          >
            <span>
              <ng-container *ngFor="let p of pTmp">
                <ng-container>● </ng-container>
              </ng-container>
            </span>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
